
#itemImage {
	height: 200px;
	width: 150px;
}

.display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
  }

.product{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

table {
	border-spacing: 20px;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: center;
}

.displayCategory ul li {
	font-size: 20px;
}
